.pic{
    width: 100px;
    height: 100px;
}
.activeStyle{
    color: #3947b4;
    font-weight: bold;
}
form{
    position: relative;
    left: 52%;
}
.smallPic{
    width: 35px;
    height: 35px;
    position: relative;
    left: 96vh;
}
.cart_icon{
    position: relative;
    cursor: pointer;
}
.cart_icon:focus{
    outline: none;
    border: none;
}
.cart_icon i{
    font-size: 24px;
    color: #fff;
}
.cart_value{
    position: relative;
    top: -54px;
    right: -28px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px 10px;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
}
.logout {
    color: #3947b4;
    position: relative;
    /* left: 83vh; */
    left: 80vh;
    top: 1.7vh;
}
form{
    position: relative;
    top: -10px;
}