.cart_section{
  padding: 40px 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
img{
    width: 160px;
    height: 160px;
  }
  .btn{
  background: #007bff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 2%;
  color: white;
  margin: 0 6px
}
.trash{
position: relative;
top: 73px;
left:35%;
color: #007bff;
border:1px solid #007bff;
cursor: pointer;
font-size: 18px;
}
.btn1{
border-radius: 50px;
font-family: sans-serif;
background: rgb(255, 196, 57);
color: black;
border: none;
font-weight: bold;
width: 150px;
}
.paypal_logo{
width: 20px;
height: 20px;
}
.pay{
color: rgb(16, 57, 131)
}
.pal{
color: rgb(0, 156, 222);
}
.fas{
color: red;
}