<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-12 bg-primary p-2 text-white mt-2 text-center text-capitalize">
            product details
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-1 text-center">
            <ul class="nav nav-tabs row text-center pro-details" id="myTab" role="tablist">
            </ul>
        </div>
        <div class="col-lg-4 text-center border-right border-secondery">
            <div class="tab-content row h-100 d-flex justify-content-center align-items-center" id="myTabContent">
                <div class="tab-pane fade show active col-lg-12" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <img class="img-fluid" src="{{currentProduct.imgUrl}}" />
                </div>
                <div class="tab-pane fade col-lg-12" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <img class="img-fluid" src="https://pbs.twimg.com/media/ENktSOTUEAELNMN.jpg" />
                </div>
                <div class="tab-pane fade col-lg-12" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <img class="img-fluid" src="https://pbs.twimg.com/media/ENktSONUEAAm6k1.jpg" />
                </div>
                <div class="tab-pane fade col-lg-12" id="product" role="tabpanel" aria-labelledby="product-tab">
                    <img class="img-fluid" src="https://pbs.twimg.com/media/EOYIp0FUYAA0uM1?format=jpg&name=360x360" />
                </div>
                <div class="tab-pane fade col-lg-12" id="productTwo" role="tabpanel" aria-labelledby="productTwo-tab">
                    <img class="img-fluid" src="https://pbs.twimg.com/media/EOYIp0DUUAA29Ft?format=jpg&name=small" />
                </div>
                <div class="tab-pane fade col-lg-12" id="productThree" role="tabpanel" aria-labelledby="productThree-tab">
                    <img class="img-fluid" src="https://pbs.twimg.com/media/EOYIp0JVUAANGFD?format=jpg&name=small" />
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <h5>
                {{currentProduct.Description}}
            </h5>
            <h3>
                {{currentProduct.price | currency}}
            </h3>
            <p>
                Available offers
            </p>
            <ul>
                <li class="pb-2"><b>name: </b> {{currentProduct.name}} T&C</li>
                <li><b>category: </b> {{currentProduct.category}} T&C</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid margin">
        <a routerLink="/product" class="themeBtn4">Back @ category</a>
    </div>
</div>
