<div class="ds">
    <div class="col-md-12">
        <div class="title-header text-center">
        <h4>category</h4>
        </div>
    </div>
</div>
<div class="block">
    <div class="list-group">
        <a (click)="showpc()" class="list-group-item list-group-item-action" >{{products[0].name}}</a>
        <a (click)="showmonitors()" class="list-group-item list-group-item-action">{{products[1].name}}</a>
        <a (click)="showtablets()" class="list-group-item list-group-item-action">{{products[2].name}}</a>
    </div>
</div>
