<!--Testimonials------------------->
<section id="testimonials">
    <!--heading--->
    <div class="testimonial-heading">
        <span>Comments</span>
        <h1>Clients Says</h1>
    </div>
    <!--testimonials-box-container------>
    <div class="testimonial-box-container">
        <!--BOX-1-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src="{{c1}}" />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Touseeq Ijaz</strong>
                        <span>@touseeqijazweb</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>{{text}}</p>
            </div>
        </div>
        <!--BOX-2-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src={{c2}} />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>J.K Rowling</strong>
                        <span>@jkrowling</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>{{text}}</p>
            </div>
        </div>
        <!--BOX-3-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src={{c3}} />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Harry Potter</strong>
                        <span>@DanielRedclief</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>{{text}}</p>
            </div>
        </div>
        <!--BOX-4-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src={{c4}} />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Oliva</strong>
                        <span>@Olivaadward</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>{{text}}</p>
            </div>
        </div>
    </div>
</section>
<section>
      <div class="containerBox">
          <div class="box">
              <div class="icon"><img src={{card}} alt="">
                <div class="title">Up to 12 payments</div>
            </div>
          </div>
          <div class="box">
            <div class="icon"><img src={{delivery}} alt="">
                <div class="title" style="margin-left:5% ;">Up to 7 business<br> <span class="title2">days</span></div>
            </div>
          </div>
          <div class="box">
            <div class="icon"><img src={{score}} alt="">
                <div class="title" style="margin-left: 18%;">15 years of<br> experience</div>
            </div>
          </div>
          <div class="box">
            <div class="icon"><img src={{shield}} alt="">
                <div class="title" style="margin-left:8% ;">Secure payment</div>
            </div>
          </div>
          <div class="box">
            <div class="icon"><img  src={{fxp}} alt="">
                <div class="title" style="margin-left: 10%;">Recommended <br> <span style="margin-left: 30%;">store</span></div>
            </div>
          </div>
      </div>
</section>
